<div class="flex flex-col w-full">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                #
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Име на студент
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Факултетен номер
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Година на обучение
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Форма на обучение
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Име на курс
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                
              </th>

          </thead>
          <tbody>
            {% for student in students %}
            <tr class="bg-gray-100 border-b">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{student.first_name}} - {{student.last_name}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{student.faculty_number}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{student.year_of_study}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{student.study_type}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{student.course}}
              </td>
              <td>
          
                <p
                class="text-center py-1 bg-red-500 text-white rounded-lg cursor-pointer "
                hx-delete="{% url 'students:delete_student' student.id %}"
                hx-confirm="Сигурни ли сте, че искате да изтриете този изпит?"
                hx-target="#studentsTable">
                  Изтрий
                </p>
              </td>
              <td>
                <a href="{% url 'students:update_student' student.id %}"
                   class="px-3 py-2 bg-orange-500 text-slate-100 rounded-lg cursor-pointer">Редактирай</a>
              </td>
      
            </tr>
            
            
          </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>