

{% extends '../base.html' %}
{% comment %} 
Отново разширяваме това което е включенов във base.html
този път със форма, която да редактира потребителските данни
{% endcomment %}
{% load static %}
{% block extrahead %}
    <title>Login</title>
{%  endblock %}
{%  block content %}
<div class="w-full min-h-screen flex flex-col justify-center items-center p-4">
  <p class="p-4 bg-orange-600 text-slate-200 mb-4">Данните за студенти и курсове са видими само за потребители с администраторски права, ако мислите , че вие трябва да притежавате такива се свържете с техническата подръжка.</p>
  <div class="w-1/2 flex flex-col justify-center items-center space-y-12 bg-slate-200 shadow-lg p-4 " style="height: 600px">
  {% if form.errors %}
    <div class="alert alert-danger">
      {{ form.errors }}
    </div>
  {% endif %}
  
  <form method="POST" class="flex flex-col items-center justify-center space-y-4">
    {% csrf_token %}
    {% for field in  form %}
      <div class="w-full">
        {{field.label}}
        {{ field }}
      </div>
      
    {% endfor %} 
    <button class="w-full p-2 bg-blue-600 text-blue-100" type="submit">Редактирай</button>
</form>
  </div>
</div>
{% endblock %}