{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/forms.css' %}">


    {% block extrahead %}
    {% endblock extrahead %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

{% include "navbar.html" %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.type }}">{{ message.message }}</div>
    {% endfor %}
{% endif %}


<div  class="bg-gray-100">
{% block content %}
{% endblock content %}

</div>
{% block extra_scripts%}




{% endblock %}
<script src="https://unpkg.com/htmx.org@1.1.0"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
</script>
</body>

</html>